[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/systemverilog"]
	path = bundle/systemverilog
	url = https://github.com/nachumk/systemverilog.vim
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline
